.home, .home-hover, .medical, .medical-hover, .motor, .motor-hover, .office, .office-hover, .term, .term-hover, .travel, .travel-hover{
	background: url('../images/sprites.png') no-repeat;
}
.home{
	background-position: -367px -1px ;
	width: 66px;
	height: 66px;
}
.home:hover, .home.active{
	background-position: -293px -1px ;
	width: 66px;
	height: 66px;
}
.medical{
	background-position: -219px -1px ;
	width: 66px;
	height: 66px;
}
.medical:hover,.medical.active{
	background-position: -146px -2px ;
	width: 66px;
	height: 66px;
}
.motor{
	background-position: -75px -1px ;
	width: 66px;
	height: 66px;
}
.motor:hover, .motor.active{
	background-position: -1px 0;
	width: 66px;
	height: 66px;
}
.office{
	background-position: -74px -77px ;
	width: 66px;
	height: 66px;
}
.office:hover, .office.active{
	background-position: 0 -78px ;
	width: 66px;
	height: 66px;
}
.term{
	background-position: -228px -78px ;
	width: 66px;
	height: 66px;
}
.term:hover, .term.active{
	background-position: -149px -77px ;
	width: 66px;
	height: 66px;
}
.travel{
	background-position: -508px -4px ;
	width: 66px;
	height: 66px;
}
.travel:hover, .travel.active{
	background-position: -437px -1px ;
	width: 66px;
	height: 66px;
}



/* dashboard*/

.s-2-My-Cars, .s-3-My-Eid, .s-4-My-License, .s-5-My-Claims, .s-6-My-Garages, .s-7-My-Transactions, .s-8-My-Rewards, .s-9-My-Links, .s-10-Mykit, .s-11-Location, .s-12-Prev, .s-13-Prev2, .s-14-Next, .s-15-Next2{
	background: url(../images/sprites_dashboard.png) no-repeat;
}

.s-2-My-Cars{
	background-position: -342px -10px ;
	width: 102px;
	height: 41px;
}

.s-3-My-Eid{
	background-position: -218px -86px ;
	width: 77px;
	height: 50px;
}

.s-4-My-License{
	background-position: -223px -14px ;
	width: 71px;
	height: 50px;
}

.s-5-My-Claims{
	background-position: -153px -8px ;
	width: 44px;
	height: 60px;
}

.s-6-My-Garages{
	background-position: -141px -77px ;
	width: 65px;
	height: 60px;
}

.s-7-My-Transactions{
	background-position: -84px -76px ;
	width: 45px;
	height: 60px;
}

.s-8-My-Rewards{
	background-position: -83px -5px ;
	width: 60px;
	height: 60px;
}

.s-9-My-Links{
	background-position: -5px -61px ;
	width: 45px;
	height: 50px;
}

.s-10-Mykit{
	background-position: -5px -7px ;
	width: 60px;
	height: 50px;
}

.s-11-Location{
	background-position: -309px -55px ;
	width: 35px;
	height: 36px;
}

.s-12-Prev{
	background-position: -351px -64px ;
	width: 11px;
	height: 20px;
}

a:hover .s-12-Prev{
	background-position: -348px -108px ;
	width: 11px;
	height: 20px;
}

.s-14-Next{
	background-position: -395px -107px ;
	width: 11px;
	height: 20px;
}

a:hover .s-14-Next{
	background-position: -399px -65px ;
	width: 11px;
	height: 20px;
}


.s-2-Motor-Quotes, .s-3-Medical, .s-4-Home, .s-5-Travel-Quote, .s-6-Office, .s-7-Term-Life{
	background: url(../images/myquotesprites.png) no-repeat;
}

.s-2-Motor-Quotes{
	background-position: -17px -12px ;
	width: 68px;
	height: 40px;
}

.s-3-Medical{
	background-position: -23px -77px ;
	width: 56px;
	height: 50px;
}

.s-4-Home{
	background-position: -166px -69px ;
	width: 64px;
	height: 60px;
}

.s-5-Travel-Quote{
	background-position: -93px -11px ;
	width: 65px;
	height: 40px;
}

.s-6-Office{
	background-position: -171px -7px ;
	width: 50px;
	height: 50px;
}

.s-7-Term-Life{
	background-position: -96px -69px ;
	width: 54px;
	height: 60px;
}

