/*--font family and font-weight--*/

$primaryFont : Montserrat;
$boldFont : Montserrat;
$mediumFont : Montserrat;
$regularFont: Montserrat;

/*--colors --*/

$primaryColor: #000000;
$secondaryColor: #373737;
$theam_color: #037c8b;


/*-- transparency colors --*/

$primarytransparent :rgba(0,0,0,0.89);
$secondaryTransparent :rgba(55,55,55, 0.8);
$transparentAccent1 :rgba(92, 183, 193,0.8);
$transparentAccent2 :rgba(0,0,0,0.5);

/*-- font sizes --*/
$sectionHeading : 3.2rem;
$heading1size : 2.0rem;
$heading2size : 1.9rem;
$heading3size : 1.8rem;
$parafontsize:1.6rem;
$parafontsmallsize:1.2rem;